
html {
	overflow-y: scroll;
}

/* background */

.background-image {
	position: absolute;
	display:block;
    left: 0;
    right: 0;
    top:0;
    bottom:0;
    z-index: -5;
    background-image:url("schoolback2.PNG");
	background-size:cover;
	background-position:center; 
	filter:blue(3);
	
}

body {
	background-image:url("background-blue.png")
	/* background-color:#4C6882; */
}

.whitetrans {
	height:5%;
	width:100%;
	background-color:white;
	opacity:0.6;
	position:absolute;
	top:0;
	left:0;
	margin:0px;
	padding:0px;
}

/* turramurra logo */

.turralogo img {

	width:200px;
	height:200px;
	top:0;
	margin:0px auto;
	text-align:center;
	z-index:2;	
	position: relative;	
}

.turralogo {
	text-align:center;
}

/* scrolldown menu */

.scrolldown {	
	bottom:0px;
	z-index: 20;
	font-size:20px;
	font-weight:bold;
	color:black;
	background-color:rgba(192,192,192,0.7);
	position:absolute;
	width:100%;
	height:70px;
	line-height:65px;
	left:0;
	text-align: center;
	
}

.greybar {
	position:absolute;
	bottom:-50px;
	left:0;
	height:50px;
	width:100%;
	z-index:-1;
	background-color:#2F2F2F;

}

/* heading */

.heading h1 span {
	
	font-size:50px;
	position: relative;
	padding:0px 10px;
	

	background-color:rgba(255,255,255,0.8);
	box-shadow:100px;
	
	border-radius: 15px 15px 15px 15px;

	box-shadow: 0px 8px 16px 0px rgba(0,0,0,1);;

	font-weight:bold;
	color:black;
	/* padding:8px; */

}
.heading h1  {
	text-align: center;	
	
}



/* dropdown content */

.dropdown {
	color:grey;
	font-family:arial;
	font-size:20px;
	/* width:300px; */
	width:20vw;
	height:50px;
	text-align:center;
	background-color:#2F2F2F;
	line-height:50px;
	float:left;
	transition: 0.4s;

}

.dropdown:hover {
	/* background-color:#242424; */
	background-color: #191919;
	color:white;

}



.dropdown:hover div a {
	display:block;


}
	
.dropdown div a {
	
	display:none;
	color:black;
	text-decoration:none;
	background-color:white;
	/* width:300px; */
	height:50px;
	text-align:center;
	line-height: 45px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.9);	

	transition: 0.2s;

}

.dropdown div a:hover {
	background-color:#DFDFDF;
	
}

.dropdown-container {
	position:absolute;
    bottom:-50px;
    left:0;

}

.rounded-corner a{
	border-radius: 0px 0px 5px 5px;
}

/* insideout . html */
.insideoutimage img {
	width:50%;
	height:50%;
	top:0;
	border:0.5vw solid #164464;
	z-index:1;
}

.insideoutimage {
	text-align:right;	
}




/* insideinformation LEFT */

.insideinformation {
	color:black;
	position: absolute;
	background-color:white;
	/* bottom:-690px; */
	bottom:-925px;
	/* height:600px; */
	height: 850px;
	padding:20px;
	z-index:-9999;
	margin-left:25%;
	width: 50%;
	
	float: left;
	overflow: auto;
}

.insideinformation h1 {
	float:left;
	width:100%;
	text-align:center;
}

.insideinformation h2 {
	float:left;
	width:100%;
	text-align:center;
}

.insideinformation p {
	width:100%;
	/* font-size:1.3vw; */
	font-size: 1.3em;
}

.insideinformation h1 {
	float:left;
}

.footer {
	position: absolute;
	bottom:-975px;
	height:50px;
	width:100%;
	background-color:#008EB2;
	left:0;


}

.footer p {
	color:black;
	font-weight: bold;
	text-align:left;
	font-size: 0.8em;
	line-height: 20px;
	padding:0px 50px;
}

.footer img {
	padding:5px;
	width:40px;
	height:40px;
	float:left;
	line-height: 200px;
}

a:link {
	color:white;
}
a:visited  {
	color:white;
}
a:hover {
	color:#84D8F1;
}
a:active {
	color:white;
}
